<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

    <!-- About me -->
    <section id="about" class="section section__container">
        <h1 class="home__title">About Us</h1>
        <h2 class="home__description">This is Colin's Web development</h2>

    </section>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  