<!-- Services -->

<section id="service">
    <div class="service__container">
        <h1 class="service__title">Web Design &<br>Development</h1>
        <h2 class="service__description">Client-focused, customer-centric, creating website solutions that deliver tangible business results, Appnovation's web developers helps brands the ever-changing digital landscape.</h2>

    </div>
<img src="asset/imgs/web.png" alt="web" class="service_img"/>

</section>
</div>